@import url('https://fonts.googleapis.com/css2?family=Bokor&family=Oswald:wght@200..700&display=swap');
/* font-family: "Oswald", sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Bokor&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Oswald:wght@200..700&display=swap');
/* font-family: "Josefin Sans", sans-serif; */

:root {
    --font-01: "Oswald";
    --font-01-color: white;
    --font-02: "Josefin Sans";
    --cursor_hert: url(../img/heart-solid-cursor.svg)2 2, auto;
    --space: 30px 0;
}

* {
    padding: 0;
    margin: 0;
}

.site {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.site h1 {
    display: flex;
    justify-content: center;
    margin: 20px;
    font-size: 28pt;
    font-family: var(--font-01);
    position: relative;
    color: var(--font-01-color);
    z-index: 100px;
}

.animate__slideInDown {
    transition-duration: 2s;
    animation-delay: 0.9s;
}

.animate__pulse h3 {
    transition-duration: 1s;
    animation: infinite;
    animation-delay: 0.5s;
    animation-direction: alternate-reverse;
}

.start .site {
    display: flex;
    justify-content: center;
    align-items: center;
}

.start .carrousel {
    display: flex;
    position: relative;
    align-items: center;
    overflow: hidden;
    max-width: 100%;
    height: 100vh;
    margin: 0 auto;
}

.carrousel div {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    height: auto;
    flex-shrink: 0;
}

.start .carrousel img {
    max-width: 100%;
    max-height: 99vh;
    border-radius: 20px;
    margin: 0 auto;
    display: block;
    cursor: var(--cursor_hert);
}

.slick-prev:before,
.slick-next:before {
    color: var(--font-01-color);
    font-size: 20pt;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.slick-prev {
    left: 15px;
}

.slick-next {
    right: 60px;
}

.slick-dots,
.slick-dots li button:before {
    width: 100px;
    color: var(--font-01-color);
    font-size: 20pt;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    margin-top: 2px 0;
    top: 1px;
    justify-content: space-between;
    padding: 10px;

}

.slick-dots li.slick-active button:before {
    color: rgb(255, 0, 0);
}

.space {
    padding: var(--space);
}

.declaration div h3 {
    font-family: var(--font-01);
    color: var(--font-01-color);
    font-size: 28pt;
    margin: 10px;
    align-items: center;
    text-align: center;
}

.declaration div p {
    padding: 20px;
    font-family: var(--font-02);
    text-indent: 5px;
}

.declaration div {
    color: white;
}


.contador h2 {
    font-size: 21pt;
    align-items: center;
    text-align: center;
    font-family: var(--font-01);
    padding: 5px;
    margin: 5px;
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.days,
.hours,
.minutes,
.seconds {
    padding: 10px;
    font-family: var(--font-02);
    font-size: 21pt;
}

footer div {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 14pt;
    margin: 5px;
    font-family: var(--font-02);
}

footer div a {
    text-decoration: none;
    color: yellow;
    padding: 0 5px;
}

body {
    background-color: rgb(0, 0, 0);
    background-image: url(../img/heart-solid\ 1.svg);
    backdrop-filter: blur(1.2px);
    background-position: bottom bottom;
    background-attachment: fixed;
    filter: brightness(85%);
}

@media (max-width:1024px) {
    .declaration div p {
        align-items: center;
        text-align: center;
        padding: 30px;
    }

    .timer {
        margin-top: 20px;
        font-size: 18pt;
    }

    .slick-next {
        top: 50%;
    }

    .slick-prev:before,
    .slick-next:before {
        font-size: 24px;
        color: var(--font-01-color);
    }

    footer div {
        margin: 20px;
    }
}

@media (max-width:768px) {
    .start .carrousel img {
        width: 315px;
    }
}

@media (max-width: 480px) {
    .timer {
        padding: 10px;
    }
}

@media (max-width: 460px) {
    .site h1 {
        font-size: 16pt;
    }

    .start .carrousel img {
        width: 325px;
        height: 75vh;
    }

    .slick-dots,
    .slick-dots li button:before {
        width: 50px;
        height: 250px;
        margin: 5px;
        justify-content: center;
    }

    .declaration div h3 {
        font-size: 16pt;
    }

    .contador h2 {
        font-size: 16pt;
    }

    .space {
        padding: 1px;
    }

    .days,
    .hours,
    .minutes,
    .seconds {
        font-size: 11pt;
    }

    .timer {
        font-size: 11pt;
    }

    footer div {
        font-size: 10pt;
    }
}

@media (max-width: 320px) {
    .site h1 {
        font-size: 16pt;
    }

    .start .carrousel img {
        width: 250px;
        height: 75vh;
    }

    .slick-dots,
    .slick-dots li button:before {
        width: 50px;
        height: 250px;
        margin: 5px;
        justify-content: center;
    }

    .declaration div h3 {
        font-size: 16pt;
    }

    .contador h2 {
        font-size: 16pt;
    }

    .space {
        padding: 1px;
    }

    .days,
    .hours,
    .minutes,
    .seconds {
        font-size: 11pt;
    }

    .timer {
        font-size: 11pt;
    }

    footer div {
        font-size: 10pt;
    }
}